<div id="contact" class="bg-secondary">
	<div class="container text-white font-weight-bold text-center">
		<div class="row py-3">
			<div class="col-md-5 mt-2">
				<p class="h3 ">Kontakt</p>  
				<hr class="bg-white"> 
				<span>Fundacja Animal Shelter</span><br>
				<span>ul. Zwierzyniecka 57</span><br>
				<span>55-555 Wrocław, Polska</span><br>	
				<span>tel: 666-888-999</span>			
			</div>
			<div class="col-md-7 mt-2 text-center">
				<p class="h3">Media</p> 
				<hr class="bg-white"> 
				<a href="https://www.facebook.com/" class="text-white"><i class="fab fa-facebook-square fa-4x m-3"></i></a>
				<a href="https://pl.linkedin.com/" class="text-white"><i class="fab fa-linkedin fa-4x m-3"></i></a>
				<a href="https://www.instagram.com/" class="text-white"><i class="fab fa-instagram fa-4x m-3"></i></a>
				<a href="https://twitter.com/?lang=pl" class="text-white"><i class="fab fa-twitter-square fa-4x m-3"></i></a>
				<a href="https://www.youtube.com/" class="text-white"><i class="fab fa-youtube fa-4x m-3"></i></a>
			</div>
		</div>    
	</div>
</div>	
<footer class="footer bg-dark">
	<div class="container text-center">
		<span class="text-white"> 2019 Copyright: Marcin Mazur</span>
	</div>
 </footer>